# Build files
simplehtmldom_*.zip

# Unit test data files
tests/data/*
!tests/data/.gitkeep

# PHPUnit
.phpunit.result.cache

# Visual Studio Code
.vscode/

# PhpStorm
.idea/

# Composer
/vendor/

# Python3 virtual environment
/venv/
